.heading{
    color: #1d1d1f;
    padding:25px 0px 25px 25px;
    font-size: 48px;
    line-height: 1.08349;
    font-weight: 600;
    letter-spacing: -.003em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.message{
    font-size: 22px;
    font-weight: 500;
    color: #1d1d1f;
    padding:25px 0px 25px 25px;
}



